<!DOCTYPE html>
<html>
<head>
    <title>T2D SNP Analysis Tool</title>
</head>
<body>
    <h1>Type 2 Diabetes SNP Analysis Tool</h1>

    <form method="POST">
        {{ form.csrf_token }}
        <p>
            {{ form.search_type.label }}<br>
            {{ form.search_type }}
        </p>
        <p>
            {{ form.search_term.label }}<br>
            {{ form.search_term }}
            {% if form.search_term.errors %}
                <ul class="errors">
                {% for error in form.search_term.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
                </ul>
        {% endif %}
        <p>{{ form.submit }}</p>
    </form>
</body>
</html>