<!DOCTYPE html>
<html>
<head>
    <title>T2D SNP Analysis Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('snp_query.index') }}" class="header-link">
            <h1>Type 2 Diabetes SNP Analysis Tool</h1>
            <h4>QMUL Bioinformatics: Bionic Beavers Group Database of Type 2 Diabetes Related SNPs</h4>
        </a>
    </div>

    <div class="container">
    <form method="POST" class="search-container">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.search_type.label }}<br>
            {{ form.search_type(class_="search-select") }}
        </div>
        <div class="form-group">
            {{ form.search_term.label }}<br>
            {{ form.search_term(class_="search-input", placeholder="Enter search term...") }}
            <span id="search-example" style="color: gray; font-size: 0.9em;"></span>
            {% if form.search_term.errors %}
                <ul class="errors">
                {% for error in form.search_term.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form.submit(class_="search-button") }}
    </form>
</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>